<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
  <div class="fondo-login">
    <div class="login-register">
    <div class="logo-login">
      <img src="../../../assets/images/shape1.svg" class="mb-2" alt="logo" width="300px">
    </div>
    <div class="login-box card">
      <div class="card-body box-login">
        <form class="form-horizontal form-material"
              autocomplete="off0"
              [formGroup]="loginForm"
              (ngSubmit)="login()"
              id="loginform">

          <div class="form-group ">
            <div class="col-xs-12">
              <input class="campo"
                     type="email"
                     placeholder="Correo electrónico"
                     formControlName="email">
            </div>
          </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input class="campo"
                       type="password"
                       placeholder="Contraseña"
                       formControlName="password">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <div class="checkbox checkbox-info pull-left p-t-0">
                </div> <a href="" id="to-recover" class="text-active pull-right recuperar-pass">
                <i class="fa fa-lock m-r-5"></i> Olvidé la Contraseña?</a> </div>
            </div>

            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                <button class="btn btn-block btn-lg btn-p botones" type="submit">Iniciar Sesión</button>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                <div class="social">
                  <div id="my-signin2"></div>

                  <a class="btn btn-googleplus boton-google" data-toggle="tooltip" title="Login with Google">
                    <i aria-hidden="true" class="fa fa-google-plus"></i>
                    <span> Inicia con tu cuenta</span>
                  </a>
                </div>
              </div>
            </div>

            <div class="form-group m-b-0">
              <div class="col-sm-12 text-center">
                Crear Cuenta <a routerLink="/register" class="text-info m-l-5"><b style="color: #FF9F00">Regístrate</b></a>
              </div>
            </div>
        </form>

      </div>
    </div>
    <section class="lomama">

    </section>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
