/*******************
Login register and recover password Page
******************/

.login-box .footer {
  width: 100%;
  left: 0px;
  right: 0px;
}

.login-box .social {
  display: block;
  margin-bottom: 30px;
}

#recoverform {
  display: none;
}

.login-sidebar {
  padding: 0px;
  margin-top: 0px;
}
.login-sidebar .login-box {
  right: 0px;
  position: absolute;
  height: 100%;
}

.boton-google {
  background-color: #363846!important;
}

.recuperar-pass {
  color: #ffffff;
  font-size: 15px;  
}


