a , .text-info {
  color:#FF9F00!important;
}


.fast {
  -webkit-animation-duration:0.3s;
  animation-duration:0.3s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

.login-register {
  height: 100%;
  width: 100%;
  padding: 5% 0;
  position: fixed;
  background: radial-gradient(ellipse farthest-corner at 50% 50px, #292C37 18%, #0B091A 40%);
}

.logo-login{
  display: flex;
  margin-bottom: 50px;
}
.logo-login img {
  margin: auto;
  }

.login-box {
  width: 400px;
  margin: 0 auto;
  border-radius: 40px!important;
  background: #181726;
  box-shadow: 2px 2px 2px 1px rgba(0.2, 0.2, 0.2, 0.2)!important;
  padding: 40px 50px;
}

.botones {
  text-transform: uppercase;
  font-weight: bold;
  

}

.campo {
  background-color: #363846;
  border-radius: 10px;
  border: none;
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  }

::placeholder{
  color: white;
}

.btn-p {
  background: linear-gradient(90deg, #FF9F00, #FF5700);
  border-radius: 15px;
  padding: 10px 5px;
  font-size: 20px;
}

.bg-iso {
  height: 400px;
  background-image: url("../../../geod/font-GEOD/src/assets/images/logo-bg.png");
  background-position: bottom right;
  background-size: 400px;
  background-repeat: no-repeat;
}

.titulo-form {
  color: #fff;
  font-size: 37px;
  font-weight: bold;
  text-align: center;

}

.mr-auto {
  margin: auto;
}

.nombre-perfil {
  font-size: 14px;
  color: #fff!important;
  font-weight: 500;
  text-decoration:#FF5700 underline;
}

.nombre-perfil img {
  margin-right: 5px;
}

.card-no-border .sidebar-nav {
  background-color: #525462;
}

.sidebar-nav > ul > li {
  border-bottom: #000 3px solid;
}

.sidebar-nav ul li a {
    font-size: 11px;
    font-weight: 300;
    color: #fff!important;

}

.sidebar-nav ul li i {
  color: #FF9F00!important;
}