<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer" style="text-align: center; background: #1c1d2b;">
  <i class="fa fa-home"></i>
  <i class="fa fa-home"></i>
  <i class="fa fa-home"></i>
  <i class="fa fa-home"></i>
   {{year}} GEOD
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
